/*
 * Dashboard widget
 */
#widgetCompressionStatistics .infoGrid th {
    white-space: nowrap;
}

/**
  * Settings
 */
.usage {
    font-weight: bold;
    display: inline-block;
    font-size: 1.6rem;
}
.usage__counter--free {
    color: #8cc938
}

.usage__counter--full {
    color: #ff5244
}

/**
 * Folder tree
 */
.react-checkbox-tree label {
    font-weight: 400;
    font-size: 14px;
}

/**
 * Console tab
 */
#js-compression-console {
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 1rem;
    background-color: #111;
    color: #00d600;
}
