/*
 * Dashboard widget
 */
#widgetCompressionStatistics .infoGrid th {
	white-space: nowrap;
}

/* Rotating animation button */
@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

.btn-processing {
	-webkit-animation-name: rotate;
	animation-name: rotate;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-transform-origin: 33% 51%;
	transform-origin: 33% 51%;
}
